
<!-- Info boxes -->
<div class="row header-box">
    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-social-windows-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">运行业务</span>
                <span class="info-box-number">32<small>&nbsp;项</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-soup-can-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">虚机总数</span>
                <span class="info-box-number">760<small>&nbsp;台</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-orange"><i class="ion ion-ios-pie-outline"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">资源利用率</span>
                <span class="info-box-number">45<small>&nbsp;%</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa ion-pinpoint"></i></span>

            <div class="info-box-content">
                <span class="info-box-text">潜在威胁</span>
                <span class="info-box-number">12<small>&nbsp;个</small></span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
    <!-- /.col -->

</div>
<!-- /.row -->
