<div class="row">
    <div class="col-md-8 col-sm-8 col-xs-12">
        <!-- box -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">系统状态</h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin">
                        <thead>
                            <tr>
                                <th>容器 ID</th>
                                <th>业务名称</th>
                                <th>运行状态</th>
                                <th>系统负载</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">ac4385d</a></td>
                                <td>Weblogic 中间件服务</td>
                                <td><span class="label label-success">Running</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#00a65a" data-height="20">63,65,90,70,61,83,63,89,29,56,32,21</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">d212c43</a></td>
                                <td>Rocket.Chat 内网协作平台</td>
                                <td><span class="label label-warning">Pending</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#f39c12" data-height="20">90,42,60,70,61,83,68,89,29,36,62,81</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">5c42187</a></td>
                                <td>ownCloud 内网云盘</td>
                                <td><span class="label label-success">Running</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#00a65a" data-height="20">40,30,90,70,61,83,63,89,29,96,22,81</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">c232087</a></td>
                                <td>TensorFlow 内网 AI 平台</td>
                                <td><span class="label label-info">Starting</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#00c0ef" data-height="20">90,80,90,70,61,83,63,89,29,36,32,21</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">83cd2d4</a></td>
                                <td>Piwik 网页分析工具</td>
                                <td><span class="label label-warning">Pending</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#f39c12" data-height="20">20,40,50,70,61,83,63,89,89,36,42,61</div>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="">532207c</a></td>
                                <td>Zabbix 业务监控平台</td>
                                <td><span class="label label-danger">Stopped</span></td>
                                <td>
                                    <div class="sparkbar" data-color="#f56954" data-height="20">50,70,30,70,51,83,63,89,49,36,82,51</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <a class="btn btn-sm btn-default btn-flat pull-right">查看更多</a>
            </div>
            <!-- /.box-footer -->
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- box -->
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">存储分布</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-8">
                        <div class="chart-responsive">
                            <canvas id="pieChart" height="135"></canvas>
                        </div>
                        <!-- ./chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <ul class="chart-legend clearfix">
                            <li><i class="fa fa-circle-o text-red"></i> Database</li>
                            <li><i class="fa fa-circle-o text-green"></i> Midware</li>
                            <li><i class="fa fa-circle-o text-yellow"></i> System</li>
                            <li><i class="fa fa-circle-o text-aqua"></i> OA</li>
                            <li><i class="fa fa-circle-o text-light-blue"></i> Other</li>
                            <li><i class="fa fa-circle-o text-gray"></i> Monitor</li>
                        </ul>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
                <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="#">Database
                            <span class="pull-right text-red"><i class="fa fa-angle-down"></i> 12%</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">Midware
                            <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 24%</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">System
                            <span class="pull-right text-yellow"><i class="fa fa-angle-left"></i> 0%</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">OA
                            <span class="pull-right text-green"><i class="fa fa-angle-up"></i> 15%</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.footer -->
        </div>
    </div>
</div>