{% extends "layout/base.html" %}
{% from "macro/breadcrumb.html" import breadcrumb with context %}

{%  block page_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/ionicons/css/ionicons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/plugins/select2/select2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/dist/css/AdminLTE.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='adminlte/dist/css/skins/skin-purple-light.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/common.css') }}">
    <style>
        .alert-container {
            padding: .75em 15px;
            margin-bottom: -1.5em;
        }

        .alert-container .alert {
            margin-bottom: 0;
        }

        .trans-row {
            margin-top: 1.5em;
        }
    </style>
{% endblock %}


{% block page_content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    {{ breadcrumb('快速部署', page_data.breadcrumb) }}

    <div class="alert-container"></div>

    <!-- Main content -->
    <section class="content">
        {% include 'components/deployform.html' %}
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

{% endblock %}

{% block page_js %}
{{ super() }}
    <script src="{{ url_for('static', filename='adminlte/plugins/select2/select2.full.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/deploy_detail.js') }}"></script>
{% endblock %}
